<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <%-partial('../partials/meta')%>

        <title><%=blocks.title%></title>

        <link rel="icon" type="image/icon" href="../img/favicon/favicon.ico" />
    </head>
    <body>
        <header>
            <%-partial('../partials/header/header-en')%>
        </header>

        <main>
            <%-body -%>
        </main>

        <footer>
            <%-partial('../partials/footer')%>
        </footer>

        <%-partial('../partials/svg-sprite')%>
    </body>
</html>





