<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <%- include ../../../partials/meta.ejs %>

        <title>Головна | РемБудМГМ</title>

        <link rel="icon" type="image/icon" href="../img/favicon/favicon.ico" />
    </head>
    <body>
        <header>
            <%- include ../../../partials/header/header-en.ejs %>
        </header>

        <main>
            <%- include ./sections/hero.ejs %>
            <%- include ./sections/services.ejs %>
            <%- include ./sections/portfolio.ejs %>
            <%- include ./sections/contacts.ejs %>
        </main>

        <footer>
            <%- include ../../../partials/footer.ejs %>
        </footer>

        <%- include ../../../partials/svg-sprite.ejs %>
    </body>
</html>





