<!DOCTYPE html>
<html>
    <head>
        <%- require ('../../../partials/meta.html') %>

        <title>Home | RembudMGM</title>

    </head>
    <body>
        <header>
            <%- require ('../../../partials/header/header-en.html') %>
        </header>

        <main>
            <%- require ('./sections/hero.html') %>
            <%- require ('./sections/services.html') %>
            <%- require ('./sections/portfolio.html') %>
            <%- require ('./sections/contacts.html') %>
        </main>

        <footer>
            <%- require ('../../../partials/footer.html') %>
        </footer>

        <%- require ('../../../partials/svg-sprite.html') %>
    </body>
</html>





