<!DOCTYPE html>
<html>
    <head>
        <%- require ('../../../partials/meta.html') %>

        <title>Головна | РемБудМГМ</title>

    </head>
    <body>
        <div class="body">
            <header>
                <%- require ('../../../partials/header/header-ua.html') %>
            </header>

            <main>
                <%- require ('./sections/hero.html') %>
                <%- require ('./sections/services.html') %>
                <%- require ('./sections/portfolio.html') %>
                <%- require ('./sections/contacts.html') %>
            </main>

            <footer>
                <%- require ('../../../partials/footer.html') %>
            </footer>

            <%- require ('../../../partials/svg-sprite.html') %>
        </div>
    </body>
</html>





